Repository Delisa-sama/collections, pull requests merged in 2024-07, with the labels that each got.

#4 Реализовать AVL дерево
  algorithms/for_each.go
  associative/avltree/inorder_iterator.go
  associative/avltree/postorder_iterator.go
  associative/avltree/preorder_iterator.go
  associative/avltree/tree.go
  examples_test.go
Labels: enhancement

#36 Задокументировать контейнеры, итераторы и алгоритмы
  README.md
  algorithms/all_of.go
  algorithms/any_of.go
  algorithms/copy.go
  algorithms/count.go
  algorithms/equals.go
  algorithms/find.go
  algorithms/find_first_of.go
  algorithms/for_each.go
  algorithms/none_of.go
  algorithms/predicate.go
  diagrams/iterator-hierarchy.png
  diagrams/iterator-hierarchy.puml
  sequence/vector/vector.go
Labels: documentation

#38 Реализовать алгоритмы Print, Println, PrintFunc, PrintF, PrintFFunc
  README.md
  algorithms/print.go
  examples_test.go
Labels: documentation, enhancement, algorithm

#37 Реализовать алгоритм Swap, SwapIter и SwapRanges
  README.md
  algorithms/swap.go
  examples_test.go
Labels: documentation, enhancement, algorithm

#39 Реализовать алгоритм Rotate и RotateCopy
  README.md
  adapters/stack/stack.go
  algorithms/copy.go
  algorithms/rotate.go
  algorithms/rotate_test.go
  associative/avltree/inorder_iterator.go
  associative/avltree/postorder_iterator.go
  associative/avltree/preorder_iterator.go
  associative/avltree/tree.go
  associative/bst/bst.go
  associative/bst/inorder_iterator.go
  associative/bst/postorder_iterator.go
  associative/bst/preorder_iterator.go
  associative/set/iterator.go
  associative/set/set.go
  copiable/copiable.go
  diagrams/iterator-hierarchy.png
  diagrams/iterator-hierarchy.puml
  examples_test.go
  go.mod
  go.sum
  interfaces/container.go
  interfaces/iterators.go
  iterators/end.go
  iterators/reverse.go
  sequence/forwardlist/forward_list.go
  sequence/forwardlist/iterator.go
  sequence/list/iterator.go
  sequence/list/list.go
  sequence/vector/iterator.go
  sequence/vector/vector.go
Labels: documentation, enhancement, algorithm

#40 Добавить golangci-lint
  .github/workflows/main.yml
  .golangci.yml
  adapters/stack/stack.go
  algorithms/all_of.go
  algorithms/any_of.go
  algorithms/copy.go
  algorithms/count.go
  algorithms/equals.go
  algorithms/find_first_of.go
  algorithms/none_of.go
  algorithms/print.go
  algorithms/rotate.go
  associative/avltree/tree.go
  associative/bst/bst.go
  interfaces/iterators.go
  iterators/end.go
  pair/pair.go
Labels: CI

#42 Реализовать алгоритм fill, fillN
  README.md
  algorithms/fill.go
  algorithms/fill_test.go
Labels: documentation, enhancement, algorithm

#43 Алгоритм Unique и Remove
  README.md
  algorithms/for_each.go
  algorithms/remove.go
  algorithms/remove_test.go
  algorithms/unique.go
  algorithms/unique_test.go
Labels: documentation, enhancement, algorithm

#45 Реализовать Accumulate
  README.md
  algorithms/accumulate.go
  algorithms/accumulate_test.go
  interfaces/numeric.go
Labels: documentation, enhancement, algorithm

#46 Реализовать Distance
  README.md
  algorithms/distance.go
  algorithms/distance_test.go
  diagrams/iterator-hierarchy.png
  diagrams/iterator-hierarchy.puml
  interfaces/iterators.go
  sequence/vector/iterator.go
Labels: documentation, enhancement, algorithm
